<div class="content">
    <div id="homeBtnDiv"></div>
    <table class="table table-bordered">
        <thead>
            <th class="text-center" style="width: 5%;"><input type="checkbox" group="ids"/>序号</th>
            <th class="text-center" style="width: 30%;">用户名</th>
            <th class="text-center" style="width: 30%;">登录名</th>
            <th class="text-center" style="width: 35%;">密码</th>
        </thead>
        <tbody>
            <tr>
                <td class="text-center"><input type="checkbox" name="ids" value="1"/>1</td>
                <td class="text-center">张三</td>
                <td class="text-center">zhangsan</td>
                <td class="text-center">123123</td>
            </tr>
            <tr>
                <td class="text-center"><input type="checkbox" name="ids" value="1"/>2</td>
                <td class="text-center">张三</td>
                <td class="text-center">zhangsan</td>
                <td class="text-center">123123</td>
            </tr>
        </tbody>
    </table>
</div>
<script type="application/javascript">
    $('div#homeBtnDiv').addButton([
        {
            type:'newBtn',
            url:'home.html',
            enable: true
        },{
            type:'openBtn',
            url:'home.html',
            multiple: false,
            enable: true
        },{
            type:'deleteBtn',
            url:'home.html',
            enable: true
        },{
            type:'refreshBtn',
            enable: true,
            click: function (){$navTab.refreshTab()}
        },{
            type:'searchBtn',
            enable: true
        }
    ]);
</script>